.investmentbanner {
  /* background-color: #F6B736; */
  background-image: url("../img/hero-investment.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
  margin-top: 60px;
}


.left-invest {
  padding: 120px 80px 120px 40px;
}

.left-invest h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

.estimator-form h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  color: #000;
}

.estimator-form {
  margin-top: -30px;
  margin-bottom: 90px;
  background-color: #fff;
  border-radius: 30px;
  padding: 60px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px 14px;
  background: #8798C6;
  border: 1px solid #8798C6;
  color: #fff;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}
.circle-two {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px 14px;
  background: #FFC0BB;
  border: 1px solid #FFC0BB;
  color: #fff;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}

.circle-three {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px 14px;
  background: #3D85AD;
  border: 1px solid #3D85AD;
  color: #fff;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}

.circle-four {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px 14px;
  background: #B277B1;
  border: 1px solid #B277B1;
  color: #fff;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}