.investmentbanner {
  /* background-color: #F6B736; */
  background-image: url("../img/hero-investment.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
  margin-top: 60px;
}


.left-invest {
  padding: 120px 80px 120px 40px;
}

.left-invest h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

.estimator-form h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  color: #000;
}

.estimator-form {
  margin-top: -30px;
  margin-bottom: 90px;
  background-color: #fff;
  border-radius: 30px;
  padding: 60px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}